doctype html(lang='en')

head
  title Sample Website
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet', type='text/css')
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

  // Required for Previews and Experiments
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")

body
  block body
    
  include ./partials/footer.pug
